<nav class="navbar navbar-light bg-light">
  <h1>UserTypes</h1>
  <%= form_tag usertypes_path, :method => 'get' do %>
    <p class="form-inline">
      <%= link_to 'New UserType', new_usertype_path, class: "form-control mr-sm-2 btn btn-secondary" %>
      <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
    </p>
  <% end %>
</nav>

<table class="table table-hover table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Usertype ID</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usertypes.each do |usertype| %>
      <tr>
        <td><%= usertype.id %></td>
        <td><%= usertype.name %></td>
        <td><%= link_to 'Show', usertype, class: "btn btn-outline-info" %></td>
        <td><%= link_to 'Edit', edit_usertype_path(usertype), class: "btn btn-outline-secondary" %></td>
        <td><%= link_to 'Destroy', usertype, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class = "pagination">
  <%= will_paginate @usertypes, renderer: BootstrapPagination::Rails %>
</div>