<div class="jumbotron">
  <h1 class="display-6"><%= @usertype.name %></h1>
  <hr class="my-4">
  
  <table class="table table-hover table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>User ID</th>
      <th>Username</th>
    </tr>
  </thead>

  <tbody>
    <% @usertype.users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </tbody>

  </table>

  <%= link_to 'Edit', edit_usertype_path(@usertype), class: "btn btn-secondary" %>
  <%= link_to 'Back', usertypes_path, class: "btn btn-secondary" %>
</div>