<%= form_with(model: network, local: true) do |form| %>
  <% if network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(network.errors.count, "error") %> prohibited this network from being saved:</h2>

      <ul>
      <% network.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :name, class: "form-control", placeholder: "Network name" %>
  </div>

  <div class="field input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Account ID</label>
    </div>
    <%= form.select :account_id, Account.all.pluck(:id), {prompt: 'select'}, {class: "custom-select"} %>
  </div>

  <div class="actions form-group">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
