
<h1>Users</h1>

<table class="table table-hover table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Usertype</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.usertype_id %></td>
        <td><%= user.school_id %></td>
        <td><%= link_to 'Show', user, class: "btn btn-outline-info" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-outline-secondary" %></td>
        <td><%= link_to 'Destroy', user, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: "btn btn-secondary" %>

<%= link_to 'Home', root_path, class: "btn btn-secondary" %>