<div class="jumbotron">
  <h1 class="display-6"><%= @user.name %></h1><hr/>
  <p class="lead">School-Usertype-ID: <%= @user.school_id %>-<%= @user.usertype_id %>-<%= @user.id %></p>

  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-secondary" %>
  <%= link_to 'Back', users_path, class: "btn btn-secondary" %>
</div>