<nav class="navbar navbar-light bg-light">
  <h1>Accounts</h1>
</nav>

<table class="table table-hover table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Account ID</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id%></td>
        <td><%= account.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class = "pagination">
  <%= will_paginate @accounts, renderer: BootstrapPagination::Rails %>
</div>

<br>

<nav class="navbar navbar-light bg-light">
  <h1>Networks</h1>
</nav>

<table class="table table-hover table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Network ID</th>
      <th>Name</th>
      <th>Account ID</th>
    </tr>
  </thead>

  <tbody>
    <% @networks.each do |network| %>
      <tr>
        <td><%= network.id %></td>
        <td><%= network.name %></td>
        <td>
          <% @accounts.each do |account| %>
            <% if network.account_id == account.id %>
              <%= account.name %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class = "pagination">
  <%= will_paginate @networks, renderer: BootstrapPagination::Rails %>
</div>

<br>

<nav class="navbar navbar-light bg-light">
  <h1>Schools</h1>
</nav>

<table class="table table-hover table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>School ID</th>
      <th>Name</th>
      <th>Network ID</th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.id %></td>
        <td><%= school.name %></td>
        <td>
          <% @networks.each do |network| %>
            <% if school.network_id == network.id %>
              <%= network.name %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class = "pagination">
  <%= will_paginate @schools, renderer: BootstrapPagination::Rails %>
</div>

<br>

<nav class="navbar navbar-light bg-light">
  <h1>UserTypes</h1>
</nav>

<table class="table table-hover table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Usertype ID</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @usertypes.each do |usertype| %>
      <tr>
        <td><%= usertype.id %></td>
        <td><%= usertype.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class = "pagination">
  <%= will_paginate @usertypes, renderer: BootstrapPagination::Rails %>
</div>

<br>

<nav class="navbar navbar-light bg-light">
  <h1>Users</h1>
</nav>

<table class="table table-hover table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Usertype</th>
      <th>School</th>
      <th>Mail</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td>
          <% @usertypes.each do |usertype| %>
            <% if user.usertype_id == usertype.id %>
              <%= usertype.name %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% @schools.each do |school| %>
            <% if user.school_id == school.id %>
              <%= school.name %>
            <% end %>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class = "pagination">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>

<br>